.mcart__links {
  text-decoration: none;
  color: black;
  height: 230px;
}
.mcart {
  background-color: white;
}
.mcart__link {
  position: absolute;
  /* border: 1px solid red; */
  width: fit-content;
  right: 80px;
  top: 40px;
  text-decoration: none;
  color: white;
  animation-duration: 0.5s;
  animation-name: slideup;
  transition: transform 0.5s;
}
.mcart__link > h1,
.mcart__link > span {
  font-size: 25px;
  font-weight: 800;
  font-family: "Semibold";
  color: black;
}
.mcart__link .mcart__hide {
  display: none;
}
.mcart__link:hover .mcart__text {
  display: none;
}
.mcart__link:hover .mcart__hide {
  display: inline;
}
.mcart__link:hover {
  transform: translate(-14px, 0px);
}
.largetext {
  height: 300px;
  margin-bottom: 60px;
}
.mcart__largetext h1 {
  width: fit-content;
  /* border: 1px solid blue; */
  margin-left: 200px;
  width: 800px;
  font-size: 70px;
  /* transform: scaleY(2); */
  color: black;
  font-family: sans-serif;
  font-weight: 900;
  line-height: 250%;
  animation-duration: 0.5s;
  animation-name: slideup;
}
.mcart__largetext h4 {
  width: fit-content;
  position: relative;
  /* border: 1px solid blue; */
  margin-left: 200px;
  top: -70px;
  width: 800px;
  /* margin-top: 20px; */
  font-weight: 400;
  font-size: 20px;
  color: gray;
  animation-duration: 0.5s;
  animation-name: moveup;
}
@keyframes moveup {
  from {
    opacity: 0;
    transform: translateY(30vh);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
.image {
  /* border: 1px solid blue; */
  height: 602px;
  margin-bottom: 60px;
  overflow-x: hidden;
}
.mcart__image {
  float: right;
  background: url(./images/mcart.png) no-repeat center;
  background-size: 60% auto;
  /* border: 1px solid black; */
  width: 1800px;
  height: 600px;
  margin-right: -360px;
  margin-top: -40px;
  overflow-x: hidden;
}
.facebook__description {
  margin: auto 350px;
  align-items: center;
  /* border: 1px solid red; */
  width: fit-content;
  text-align: left;
}
.mcart__title {
  color: black;
  font-size: 40px;
  font-family: sans-serif;
  margin-bottom: 20px;
  font-weight: 600;
}
.mcart__bold {
  font-size: 25px;
  font-weight: 400;
}
.facebook__description p {
  font-size: 20px;
  font-weight: 400;
}
